@import '../../global.scss';


.form-titulo {
    display: flex;
    width: fit-content;
    width: 100%;
    justify-content: center;
    font-size: 22px;
    font-weight: medium;
    margin-bottom: 32px;
}

.form-input-text {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.form-input-option {
    display: flex;
    flex-direction: column;
    width: 360px;

    .form-select-option {
        border-color: transparent;
        background-color: #ffffff;  
        border-radius: 20px;
        font-size: 16px;
        height: 35px;
        cursor:text;
        outline: transparent;
        left: 0;
        margin-bottom: 16px;
    }

    select {

        appearance: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            cursor: pointer;
        }
    }
}

.form-input-username {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
}

.form-input-password {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
}

.form-label {
    display: flex;
    margin-bottom: 4px;
    margin-left: 8px;
}

input[type=text] {
    border-color: transparent;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    height: 30px;
    cursor:text;
    outline: transparent;
    left: 0;
    margin-bottom: 16px;
}

input[type=password] {
    border-color: transparent;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    height: 30px;
    cursor:text;
    outline: transparent;
    left: 0;
    margin-bottom: 16px;
}

input[type=option] {

}

.form-input-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 32px;
    width: 360px;
}

.form-input-file-text {
    display: flex;
    align-items: center;
    background-color: transparent;
    right: 0;
    margin: 0 8px;
    color: $preto-desbotado;
    font-size: 14px;
}

.form-input-file-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: $azul;
    right: 0;
    margin: 0 8px;
    height: 30px;
    width: 120px;
    color: $branco;
    cursor: pointer;
}

.form-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: $cinza-escuro;
    cursor: pointer;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 22px;
    right: 16px;

    transition: all 0.1s;

    &:hover {
        color: $preto-desbotado
    }

}

input[type=file] {
    display: none;
}
