@import '../../global.scss';

.obras {
  @include tabela;
}

.form-register-obra {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $branco;
  border-radius: 30px;
  width: 360px;
  padding: 16px;
}

.form-input-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

