.container-table {
    max-width: 100%;
    max-height: 100vh;
    overflow-x: auto; /* Adiciona barra de rolagem horizontal, se necessário */
    overflow-y: auto; /* Adiciona barra de rolagem vertical, se necessário */
  }