@import '../../global.scss';

.button-default {
    background-color: $azul;
    color: $branco;
    border: none;
    height: 36px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 16px;
    font-weight: 500;
    cursor: pointer;

    transition: all 0.2s;
    &:hover {
        transform: translateY(-2px);
        background-color: $azul-hover;
    }

    .full-width {
        width: 100%;
    }
}

.secondary {
    background-color: $branco;
    color: $cinza-escuro;

    &:hover {
        background-color: $branco;
        color: $preto;
    }
}

.redondo {
    padding: 0;
    width: 40px;
    border-radius: 50%;
}

.button-return{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-bt {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 32px;
    border-color: transparent;
    color: $cinza-escuro;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    gap: 8px;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
        background-color: $branco-bg;
        color: $preto;
        border-radius: 10px;
    }

    .sidebar-bt-icone {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 8px;
    }
}



.disabled {
    background-color: $cinza-escuro;
    cursor: default;

    &:hover {
        background-color: $cinza-escuro;
        transform: translateY(0);
    }
}

//botao selecionado

.sidebar-bt.selected {
    color: $azul;    

    &:hover {
        background-color: transparent;
    }
    
    .sidebar-selected-button-line {
        background-color: $azul;   
    }
}

.form-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: $cinza-escuro;
    cursor: pointer;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 8px;
    right: 2px;

    transition: all 0.1s;

    &:hover {
        color: $preto-desbotado
    }

}
